// =============================================================================
// Helpers
// =============================================================================

// Variables
$spacer-none:  0;
$spacer-xs:    4px;
$spacer-sm:    8px;
$spacer-nm:  16px;
$spacer-md:    24px;
$spacer-lg:    32px;
$spacer-xl:    48px;
$spacer-xxl:   64px;

$spacer-size-list: (
    xs:     $spacer-xs,
    sm:     $spacer-sm,
    nm:     $spacer-nm,
    md:     $spacer-md,
    lg:     $spacer-lg,
    xl:     $spacer-xl,
    xxl:    $spacer-xxl,
    none:   0
);

// Spacer Sides
$spacer-sides: top right bottom left;
$box-boundary-list: (
    in: padding,
    out: margin
);

// Usage:
//  
// Always apply spacers either for DIV or SPAN tags.
// For padding use "in", and for margins use "out" as the naming convention for the CSS selectors.
// FOr Sizes: "sm", "base", "md", "lg" and "none"
//
// Padding - all sides
// <div class="spacer-in-sm"></div> - Small
// <div class="spacer-in-base"></div> - Normal
// <div class="spacer-in-md"></div> - Medium
// <div class="spacer-in-lg"></div> - Large
// <div class="spacer-in-none"></div> - No padding
//
// Margin - all sides
// Does not work with <span> tags.
// <div class="spacer-out-sm"></div> - Small
// <div class="spacer-out-base"></div> - Normal
// <div class="spacer-out-md"></div> - Medium
// <div class="spacer-out-lg"></div> - Large
// <div class="spacer-out-none"></div> - No margin
//
// Vertical Padding
// <div class="spacer-in-v-sm"></div> - Small
// <div class="spacer-in-v-base"></div> - Normal
// <div class="spacer-in-v-md"></div> - Medium
// <div class="spacer-in-v-lg"></div> - Large
// <div class="spacer-in-v-none"></div> - No padding for top and bottom
//
// Horizontal Margin
// <div class="spacer-out-h-sm"></div> - Small
// <div class="spacer-out-h-base"></div> - Normal
// <div class="spacer-out-h-md"></div> - Medium
// <div class="spacer-out-h-lg"></div> - Large
// <div class="spacer-out-h-none"></div> - No margin for left and right side
//
// Applying margin or padding for specific side
// <div class="spacer-out-top-sm"></div> - Small margin at the top
// <div class="spacer-in-bottom-lg"></div> - Large padding at the bottom
.spacer {
    @each $boundary, $boundary-property in $box-boundary-list {
        &-#{$boundary} {
            @each $current-size, $current-size-value in $spacer-size-list {
                @each $side in $spacer-sides {
                    &-#{$side}-#{$current-size} {
                        #{$boundary-property}-#{$side}: $current-size-value !important;
                    }
                }
                &-#{$current-size} {
                    #{$boundary-property}: $current-size-value;
                }
                &-v-#{$current-size} {
                    #{$boundary-property}-top: $current-size-value;
                    #{$boundary-property}-bottom: $current-size-value;
                }
                &-h-#{$current-size} {
                    #{$boundary-property}-left: $current-size-value;
                    #{$boundary-property}-right: $current-size-value;
                }
            }
        }
    }
}