// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


// Colors
$color-primary:         #D00D0D;
$color-primary-dark:    #A40606;
$color-secondary:       #B0675C;
$color-secondary-dark:  #493937;

$color-black:           #0D0E0C;
$color-black-alt:       #2E2F3E;
$color-grey:            #AFA6A8;
$color-grey-light:      #F4F3F3;



// Home Level Colors
$color-l1: #D00D0D;
$color-l2: #FF3737;
$color-l3: #A40606;
$color-l4: #530606;
$color-l5: #493937;
$color-l6: #B0675C;

@mixin category-shadow() {
  transform: scale(1.4);
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.2);
}

@mixin shadow-article() {
  transform: scale(1.1);
  box-shadow: 0 0 8px 6px rgba($color-grey, 0.4);
  z-index: 2;
}

@mixin basic-transition() {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

// Sections
//
// Section - Hero
.section-hero { 
  display: grid;
  grid-template-rows: minmax(100vh, min-content);
  grid-template-columns: 1.6fr 1fr;
  
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
  
//   min-height: 100vh;
  margin-bottom: 48px;
  box-sizing: border-box;
  
 .hero-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0;
    flex-basis: 60%;
  }
  
  
  
  .hero-sidebar {
    flex-basis: 40%;
    border-radius: 1rem;
    margin: 8px;
    padding: 24px;
    background-color: $color-grey-light;
  }
}

// Home page Title
.page-title--home {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
  span {
    font-size: 1.4vw;
    font-weight: 300;
    color: $color-grey;
  }
  
  strong {
    display: block;
    font-size: 2.4vw;
    color: $color-secondary-dark;
  }
}

.home-featured-categories {
  width: 80%;
  margin: 32px auto;
 
  display: grid;
  grid-gap: 16px;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "level3 level3 level1 level1 level4"
                       "level5 level6 level1 level1 level2";
  
  transition: all 0.5s ease-in-out;
  
  @media screen and (max-width: 1200px) {
    grid-template-rows: repeat(3, 150px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "level3 level3 level1 level1"
                         "level5 level6 level1 level1"
                         "level4 level4 level2 level2";
  }
  
  @media screen and (max-width: 768px) {
    grid-template-rows: repeat(5, 150px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "level1 level1"
                         "level2 level2"
                         "level3 level4"
                         "level5 level5"
                         "level6 level6";
  }
  
  @media screen and (max-width: 640px) {
    grid-template-rows: repeat(6, 150px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "level1"
                         "level2"
                         "level3"
                         "level4"
                         "level5"
                         "level6";
  }
  
  .category-item {
    padding: 24px;
    background-color: #cccccc;
    box-sizing: border-box;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      @include category-shadow;
    }
    
    &__title {
      margin: 0;
      font-size: 1.18rem;
      letter-spacing: 0.0250em;
      font-weight: bold;
      color: #ffffff;
    }
    
    &.level--1 {
      background-color: $color-l1;
      grid-area: level1;
    }
    
    &.level--2 {
      background-color: $color-l2;
      grid-area: level2;
    }
    
    &.level--3 {
      background-color: $color-l3;
      grid-area: level3;
    }
    
    &.level--4 {
      background-color: $color-l4;
      grid-area: level4;
    }
    
    &.level--5 {
      background-color: $color-l5;
      grid-area: level5;
    }
    
    &.level--6 {
      background-color: $color-l6;
      grid-area: level6;
    }
  }
}

// Utilities
.text-center {
  text-align: center;
}

.p-light--sm {
  margin: 0;
  font-size: 0.90rem;
  font-weight: 500;
  letter-spacing: 0.024em;
  color: $color-grey;
}

.home-categories {
  &, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  @media screen and (max-width: 768px) {
    width: 80%;    
    margin: 0 auto 32px auto;
  }
  
  li {
    display: inline-block;
    
    a:after {
      content: ",";
    }
    
    &:last-child a {
      &:after {
        content: "";
      }
    }
  }
  a {
    @include basic-transition;
    font-size: 1rem;
    font-weight: 500;
    color: $color-secondary;
    text-decoration: none;
    
    &:hover {
      font-weight: 700;
      color: $color-primary-dark;
      text-decoration: underline;
    }
  }
}

// Article List
.list-article {
  width: 80%;
  margin: 32px auto;
  
  display: grid;
  grid-gap: 32px;
  grid-template-rows: repeat(auto-fit, minmax(300px, min-content));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(180px, auto);  
  grid-auto-flow: dense;
  
  .article-item {
    @include basic-transition;
    position: relative;
    display: block;
    border-radius: 0.4rem;
    background-color: $color-grey-light;
    text-decoration: none;
    overflow: hidden;
    
    &:before {
      @include basic-transition;
      opacity: 0.2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      background-color: $color-black;
    }
    
    &__thumb {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      height: 250px;
      z-index: 1;
      
      img {
        @include basic-transition;
        width: 100%;
        height: auto;
        transform: scale(1.2);
      }
      
      .tag-categories {
        position: absolute;
        bottom: 0;
        z-index: 1;
        padding: 0 24px 24px 24px;
        
        .tag {
          @include basic-transition;
          border: solid 2px rgba(white, 0.3);
          border-radius: 2rem;
          font-size: 0.8rem;
          text-decoration: none;
          padding: 0.2rem 0.8rem;
          color: white;
          background-color: rgba($color-black, 0.5);
          
          &:hover {
            background-color: $color-primary;
            color: white;
            border-color: $color-grey-light;
          }
        }
      }
    }
    
    &__title {
      position: relative;
      margin: 24px 24px 0 24px;
      color: $color-black-alt;
      line-height: 1.3;
      z-index: 1;
      
      a {
        color: $color-black-alt;
        text-decoration: none;
        background-image: linear-gradient(transparent, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
        
        &:hover {
          background-size: 100% 2px;
        }
      }
      
    }
    
    &__desc {
      position: relative;
      margin: 16px 24px 32px;
      font-size: 0.8rem;
      color: $color-secondary-dark;
      text-decoration: none;
      letter-spacing: 0.046em;
      z-index: 1;
      
      &:hover {
        cursor: default;
      }
    }
    
    &:hover {
      @include shadow-article;
      
      &:before {
        opacity: 1;
        height: 100%;
      }
      
      .article-item__thumb {
        img {
          transform: scale(1.6);
        }
        .tag-categories .tag {
          border-color: rgba($color-primary, 1);
          background-color: rgba($color-black, 1);
          
          &:hover {
            background-color: rgba($color-primary, 1);
          }
        }
      }
      
      .article-item__title a {
        color: white;
      }
      
      .article-item__desc {
        color: rgba(white, 0.6);
      }
    }
    
    
  }
}

// Featured Article
.featured-article {
  @include basic-transition;
  position: relative;
  display: block;
  border-radius: 0.4rem;
  background-color: $color-grey-light;
  text-decoration: none;
  overflow: hidden;

  &__thumb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    height: 250px;
    z-index: 1;

    img {
      @include basic-transition;
      width: 100%;
      height: auto;
      transform: scale(1.2);
    }

    .tag-categories {
      position: absolute;
      bottom: 0;
      z-index: 1;
      padding: 0 24px 24px 24px;

      .tag {
        @include basic-transition;
        border: solid 2px rgba(white, 0.3);
        border-radius: 2rem;
        font-size: 0.8rem;
        text-decoration: none;
        padding: 0.2rem 0.8rem;
        color: white;
        background-color: rgba($color-black, 0.5);

        &:hover {
          background-color: $color-primary;
          color: white;
          border-color: $color-grey-light;
        }
      }
    }
  }

  &__title {
    position: relative;
    margin: 24px 0 0 0;
    color: $color-black-alt;
    font-size: 1.2rem;
    z-index: 1;

    a {
      position: relative;
      color: $color-black-alt;
      text-decoration: none;
      background-image: linear-gradient(transparent, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
      


      &:hover {
        background-size: 100% 2px;
      }
    }

  }

  &:hover {
    .featured-article__thumb {
      img {
        transform: scale(1.6);
      }
      .tag-categories .tag {
        border-color: rgba($color-primary, 1);
        background-color: rgba($color-black, 1);

        &:hover {
          background-color: rgba($color-primary, 1);
        }
      }
    }

    .featured-article__title a {
      color: $color-primary;
    }

  }


}

// Recent Article
.recent-articles {
  $thumb: 132px;
  .article {
    display: grid;
    
    grid-template-rows: minmax($thumb*0.8, min-content);
    grid-template-columns: $thumb 1fr;
    grid-gap: 16px;
    
    margin-top: 28px;
    
    .article__thumb {
      border-radius: 0.6rem;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      width: $thumb;
      height: $thumb*0.8;
      z-index: 1;

      img {
        @include basic-transition;
        width: auto;
        height: 100%;
        transform: scale(1.2);
      }
    }
    
    .article__content {
      .article__categories {
        position: relative;
        bottom: 0;
        z-index: 1;
        margin: 0 0 8px 0;
        
        a {
          @include basic-transition;
          display: inline-block;
          margin-right: 16px;
          font-size: 0.8rem;
          font-weight: 500;
          text-decoration: none;
          color: $color-primary;
          letter-spacing: 0.05em;
          background-image: linear-gradient(transparent, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size .3s;

          &:hover {
            background-size: 100% 2px;
            border-color: $color-grey-light;
          }
        }
      }
      .article__title {
        margin: 0;
        font-size: 0.9rem;
        
        a {
          font-weight: 600;
          color: $color-black-alt;
          text-decoration: none;
          background-image: linear-gradient(transparent, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size .2s;
          
          &:hover {
            color: $color-black;
            background-size: 100% 2px;
          }
        }
      }
    }
  }
}

.hr-light {
  border: 0;
  margin: 24px 0;
  border-bottom: solid 1px rgba($color-black-alt, 0.2);
}