/*
 *  Main SCSS File for the Website
 */


// Base
@import './base/variables';
@import './base/colors';
@import './base/mixins';
@import './base/typography';

// Utilities
@import './utilities/general';
@import './utilities/helpers';

// Components
@import './components/articles';

// Pages
@import './pages/home';


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
}