// Colors
$color-primary:         #D00D0D;
$color-primary-dark:    #A40606;
$color-secondary:       #B0675C;
$color-secondary-dark:  #493937;

$color-black:           #0D0E0C;
$color-black-alt:       #2E2F3E;
$color-grey:            #AFA6A8;
$color-grey-light:      #F4F3F3;


// Home Page Category Level Colors
$color-l1: #D00D0D;
$color-l2: #FF3737;
$color-l3: #A40606;
$color-l4: #530606;
$color-l5: #493937;
$color-l6: #B0675C;