// =============================================================================
// Variables
// =============================================================================

// Responsive Breakpoints
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-md-max: 1024px !default;
$screen-lg-min: 1172px !default;
$screen-lg-max: 1200px !default;
$screen-xl-min: 1400px !default;
$screen-xxl-min: 1600px !default;
$screen-xs-smax: 740px !default;
$screen-xs-max: 568px !default;
$screen-xs-min: 468px !default;
$screen-base:   320px !default;